.page_title {
  border-top: 1px solid rgb(255, 255, 255, 0.1);
  border-bottom: 1px solid rgb(255, 255, 255, 0.1);
  margin: 1.25rem 0 3.5rem;
}
.page_title__text {
  fill: #fff;
  letter-spacing: -0.05em;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

/* Media */

/* Medium */

@media (min-width: 768px) {
  .page_title {
    margin: 1.25rem 20px 3.5rem;
  }
}
